/* 
* always include base css to get basic styling for header etc.
*/
@import url(../../css/easy-table.css);

table.easy-table {
max-width:100%;
background-color:transparent;
border-collapse:collapse;
border-spacing:0;
vertical-align: top;
}

.easy-table-minimal thead th,
.easy-table-minimal tfoot th {
border-style: solid;
border-width: 0;
padding: .5rem .5rem;
text-align: center;
background: transparent;
color: #212529;
font-size: 100% !important;
border-bottom-width: 1px;
border-bottom-color: rgb(33, 37, 41) !important;
}

.easy-table-minimal tbody tr { 
background: transparent; 
padding: .5rem .5rem;
border-bottom-width: 1px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
border-top-color: rgb(222, 226, 230);
border-top-style: solid;
border-top-width: 0px;
border-collapse: collapse;
border-left-color: rgb(222, 226, 230);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(222, 226, 230);
border-right-style: solid;
border-right-width: 0px;
}

.easy-table-minimal tbody tr td { 
border-left-color: rgb(222, 226, 230);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(222, 226, 230);
border-right-style: solid;
border-right-width: 0px;
}

.easy-table-minimal tbody tr:nth-child(2n+1) td, 
.easy-table-minimal tbody tr:nth-child(2n+1) th {
	background: #f2f2f2; 
}
